<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AppsCenter</title>
    <link rel="icon" href="../assets/images/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../assets/styles.css"
    />
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.bundle.js.map"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js.map"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.esm.js"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.esm.js.map"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.esm.min.js"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.esm.min.js.map"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.js.map"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../bootstrap-5.2.0-dist/js/bootstrap.min.js.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.min.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.min.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.rtl.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.rtl.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.rtl.min.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-grid.rtl.min.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.min.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.min.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.rtl.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.rtl.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.rtl.min.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap-reboot.rtl.min.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.min.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.min.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.rtl.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.rtl.css.map"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.rtl.min.css"></script>
    <script type="text/css" src="../../bootstrap-5.2.0-dist/css/bootstrap.rtl.min.css.map"></script>
  </head>
  <body>
    <img
      src="../assets/images/AppsCenter.png"
      class="center py-4"
      alt="AppsCenter Title"
    />
    <div class="pageContainment input-group center py-5" style="width: 800px;">
      <input
        class="form-control"
        list="appsList"
        id="appsSearch"
        oninput="setAppsList(event.target.value, true)"
        placeholder="App to search"
      />
      <datalist id="appsList"> </datalist>
      <button type="button" class="btn btn-light">
        <img style="width: 20px" src="../assets/images/magnifyingGlass.png" />
      </button>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#addPageModal"
      >
        + Publish new App
      </button>
      <button
        type="button"
        class="btn btn-warning"
        onclick="setDefaultApps()"
      >
        Set Default Apps
      </button>

      <div
        class="modal fade"
        id="addPageModal"
        tabindex="-1"
        data-bs-keyboard="false"
        aria-labelledby="addPageLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addPageLabel">Add New Application</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container py-5" style="width: 400px;">
                <form class="newForms col g-3 needs-validation" novalidate>
              </div>
                <button
                  type="button"
                  class="center btn btn-success btn-lg"
                  style="display: block;"
                  onclick="moveToMainPage()"
                >
                Publish Application
                </button>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="listAllApps"></div>
    </div>
    <script src="../controllers/main.js" type="module"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  </body>
</html>
